/* style for contact page********************************* */

.heading {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-style: italic;
}

.location {
  display: flex;
  width: 720px;
  margin: 0 auto;
  border-bottom: 3px solid grey;
  padding: 10px;
}

.map-location {
  width: 70%;
  border-radius: 20px;
  /* padding: 20px; */
  /* border: 3px solid black; */
  border-radius: 20px;
}

.location-address {
  width: 30%;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );
  border-radius: 10px;
}

.contact-form {
  border: solid 1px #333;
  margin: 0 auto;
  width: 510px;
  padding: 36px;
  background-color: #8EC5FC;
  background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%,
  rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
  border-radius: 20px;
}

.field-group {
  padding: 10px;
  display: flex;
}

.contact-form .field-group label{
  width: 140px;
  display: inline-block;
}

.contact-form .field-group input {
  width: 315px;
  border: 1px solid #0043c6;
  border-radius: 6px;
  padding: 5px 14px;
}

.contact-form .query-label{
  vertical-align: top;
  margin-top: 12px;
}

#queryInput {
  /* border: 2px solid black; */
  border-radius: 6px;
}

.contact-form button{
  /* padding: 11px 19px;
  text-align: center;
  text-transform: uppercase;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px; */
}

#queryBox label {
  vertical-align: top;
}

/* attribute selector */
.contact-form button[type='submit'] {
  margin-left: 145px;
  /* background-image: linear-gradient(to right, #3f8108 0%, #9ce870 51%, #2e8712 100%); */
}

.contact-form button[type='reset']{
  /* background-image: linear-gradient(to right, #c42e10 0%, #414345 51%, #f00c0c 100%); */
}

/* pseudo selector */
.contact-form button:hover {
  /* background-position: right center;
  color: #fff;
  text-decoration: none; */
}






.btn-container {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  margin-left: 190px;
}

/* .btn-container:nth-child(1) {
  --btn-bg: #da0000;
  --bg: #f22c3a;
}
.btn-container:nth-child(2) {
  --btn-bg: #fac300;
  --bg: #fc6100;
} */

.btn-container button {
  --width: 127px;
  --height: 36px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
/* button .text, button .icon-container {
  position: relative;
  z-index: 2;
} */
button .icon-container {
  --icon-size: 25px;
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 15px;
  transition: transform 500ms ease;
}
button .icon-container .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 500ms ease, opacity 250ms ease;
}
/* button .icon-container .icon--left {
  transform: translateX(-200%);
  opacity: 0;
} */
button .icon-container .icon svg {
  width: 100%;
  height: 100%;
  fill: rgb(23, 21, 21);
}
.btn-container button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-bg);
  border-radius: var(--height);
  z-index: 1;
  transition: transform 500ms ease;
}
/* .btn-container button:hover::after {
  transform: translateX(65%);
} */
.btn-container button:hover .icon-container {
  transform: translateX(125%);
}
.btn-container button:hover .icon-container .icon--left {
  transform: translateX(0);
  opacity: 1;
}
.btn-container button:hover .icon-container .icon--right {
  transform: translateX(200%);
  opacity: 0;
}

